body{
    display: flex;
    margin: 25px;
    flex-direction: row;
}


.card:hover{
    transition: 1s;
    transform: scale(1.05);
}

.card{
    height: 600px;
    width: 500px;
    display: flex;
    padding: 17px;
    margin: 15px;

}